<?xml version='1.0' encoding='utf-8'?>
<widget id="au.com.ifm.mapmobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>IFM Map Mobile</name>
    <description>
        IFM SISfm Map Mobile App For Accessing SISfm Pages.
    </description>
    <author email="support@integratedfm.com.au" href="www.integratedfm.com.au">
        IFM Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
    <engine name="ios" spec="~4.4.0" />
    <engine name="android" spec="~6.2.3" />
    <preference name="orientation" value="portrait" />
    <plugin name="cordova-plugin-screen-orientation" spec="^2.0.1" />
	<platform name="ios">
		<icon src="www/res/icon/ios/sisfm-icon.png" platform="ios" width="57" height="57" />
	</platform>
	<platform name="android">
		<icon density="mdpi" src="www/res/icon/android/drawable-hdpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-mdpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-xhdpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="mdpi" src="www/res/icon/android/drawable-xxxhdpi-icon.png" />
	</platform>
</widget>
